@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>
<img src="\Images\BuckingBronco.png" alt="Bucking Bronco">

@if (Model.ShowRequestId)
{
    <p>
        
    </p>
}

<h3></h3>
<p>
    
</p>
